@using BootstrapBlazor.Components
@using Microsoft.Extensions.Localization
@using ThingsGateway.Extension
@using ThingsGateway.Foundation
@using ThingsGateway.Admin.Application
@using ThingsGateway.Admin.Razor
@using ThingsGateway.Gateway.Application
@using ThingsGateway.Plugin.OpcUa
@namespace ThingsGateway.Plugin.OpcUa



<Button IsAsync class="mx-2" Color=Color.Primary OnClick="Export">@OpcUaMasterPropertyLocalizer["ExportC"]</Button>



